#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/* Set the text color for the board members */
#member {
	color: #0000ff;
}

/* Style main image */
.panorama-hill {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
	margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Style the footer */
footer {
	text-align: center;
  padding: 5px;
  background-color: #a09e9e;
  color: #ffffff;
	position:absolute;
	bottom:0;
	width:100%;
	height: 2.5rem;
}

/* Dropdown navbar menus on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
